.font1{
  font-family: 'Titillium Web', sans-serif;
}



h1 {
  text-align: center;
  font-family: arial;
  font-weight: normal;
  color:rgb(255, 0, 0);
}


ul {
    list-style-type: none;

    margin: 2;

    padding: 5px 5px;

    overflow: hidden;

    font-family: 'Titillium Web', sans-serif;

    text-align:center;
    
}

li {
    float: center;
}

li a {
    border: 1px solid black;

    width:1000px;

    height:50px;

    display: block;

    color: rgb(0, 0, 0);

    text-align: center;

    padding: 0px 0px;

    text-decoration: none;
}

li a:hover{
    background-color:#860707; 
}

footer {
  font-family: 'Titillium Web', sans-serif;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

hr {
  border: none;
  border-top: 4px double #860707;
  color: #333;
  overflow: visible;
  text-align: center;
  height: 0px;
}

img.yuvarlak {
  border-radius: 50%;
  height: 125px;
  width: 125px;
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

body{
  background-image: url("https://renbow.vercel.app/design/bg3.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%";
}


